- @selected_cate_items.each do |item|
  = link_to "/toppages/#{item.id}" do
    .categoryShowMainInnerItem
      .categoryShowMainInnerItemImage
        = image_tag item.item_images.first.item_images
      .categoryShowMainInnerItemName
        = item.name
      .categoryShowMainInnerItemBottom
        .categoryShowMainInnerItemBottomPrice
          = "¥#{item.price.to_s(:delimited)}"
          .categoryShowMainInnerItemBottomPriceTax
            (税込)
        .categoryShowMainInnerItemBottomLike
          =fa_icon 'fa-heart', class: 'fa-heart-o'
          %span 17
