.wrapper
  .slider
    .bodyIcatchImage
      .bodyIcatchImageBox
        .bodyIcatchImageBoxLeft
          %h2.bodyIcatchImageBoxLeftTitle スマホでかんたん
          %h2.bodyIcatchImageBoxLeftTitle フリマアプリ
          %p.bodyIcatchImageBoxLeftText メルカリはスマホカメラからすぐに出品できる
          %p.bodyIcatchImageBoxLeftText 購入時も安心な独自システムのアプリです
          .bodyIcatchImageBoxLeftIcons
            .bodyIcatchImageBoxLeftIconApp
              = image_tag("app-store.svg", class: "bodyIcatchImageBoxLeftIconsApp")
            .bodyIcatchImageBoxLeftIconGoogle
              = image_tag("google-play.svg", class: "bodyIcatchImageBoxLeftIconsGoogle")
        = image_tag("icatch.png",class: "bodyIcatchImageBoxRightImage")
    .bodyIcatchImage2
    .bodyIcatchImage3
    .bodyIcatchImage4

  .bodyPickup
    %h2.bodyPickupTitle
      ピックアップカテゴリー
    =link_to "レディース新着アイテム", "#",class: "bodyPickupLinks"
    = render partial: 'layouts/toppage_index', collection: @toppage_index


    =link_to "メンズ新着アイテム", "#",class: "bodyPickupLinks"
    = render partial: 'layouts/toppage_index', collection: @toppage_index

    =link_to "キッズ・ベビー新着アイテム", "#",class: "bodyPickupLinks"
    = render partial: 'layouts/toppage_index', collection: @toppage_index

    =link_to "コスメ・香水・美容 新着アイテム", "#",class: "bodyPickupLinks"
    = render partial: 'layouts/toppage_index', collection: @toppage_index


    %h2.bodyPickupTitle
      ピックアップブランド
    =link_to "シャネル新着アイテム", "#",class: "bodyPickupLinks"
    = render partial: 'layouts/toppage_index', collection: @toppage_index

    =link_to "ルイヴィトン新着アイテム", "#",class: "bodyPickupLinks"
    = render partial: 'layouts/toppage_index', collection: @toppage_index

    =link_to "シュプリーム新着アイテム", "#",class: "bodyPickupLinks"
    = render partial: 'layouts/toppage_index', collection: @toppage_index

    =link_to "ナイキ新着アイテム", "#",class: "bodyPickupLinks"
    = render partial: 'layouts/toppage_index', collection: @toppage_index
