.wrapper
  .slider
    .bodyIcatchImage
      .bodyIcatchImageBox
        .bodyIcatchImageBoxLeft
          %h2.bodyIcatchImageBoxLeftTitle スマホでかんたん
          %h2.bodyIcatchImageBoxLeftTitle フリマアプリ
          %p.bodyIcatchImageBoxLeftText メルカリはスマホカメラからすぐに出品できる
          %p.bodyIcatchImageBoxLeftText 購入時も安心な独自システムのアプリです
          .bodyIcatchImageBoxLeftIcons
            .bodyIcatchImageBoxLeftIconApp
              = image_tag("app-store.svg", class: "bodyIcatchImageBoxLeftIconsApp")
            .bodyIcatchImageBoxLeftIconGoogle
              = image_tag("google-play.svg", class: "bodyIcatchImageBoxLeftIconsGoogle")
        = image_tag("icatch.png",class: "bodyIcatchImageBoxRightImage")
    .bodyIcatchImage2
    .bodyIcatchImage3
    .bodyIcatchImage4

  .bodyPickup
    %h2.bodyPickupTitle
      ピックアップカテゴリー
    =link_to "レディース新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainersContainer
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "メンズ新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainersContainer
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "キッズ・ベビー新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainersContainer
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "コスメ・香水・美容 新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainersContainer
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    %h2.bodyPickupTitle
      ピックアップブランド
    =link_to "シャネル新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainersContainer
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "ルイヴィトン新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainersContainer
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "シュプリーム新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainersContainer
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "ナイキ新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainersContainer
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
        .bodyPickupContainersContainerBox
          .bodyPickupContainersContainerBoxTop
          .bodyPickupContainersContainerBoxBottom
            %h3.bodyPickupContainersContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainersContainerBoxBottomBottom
              .bodyPickupContainersContainerBoxBottomBottomLike
                .bodyPickupContainersContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainersContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainersContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainersContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"
