.categoryShowWrapper
  .categoryShow
    .categoryShowHeader
      %ul.categoryShowHeaderList
        - @related_Scates.each do |cate|
          = link_to "/toppages/small_category_show/#{cate.id}", class: "categoryShowHeaderListItem" do
            = cate.name
    .categoryShowMain
      .categoryShowMainTitle
        = "#{@selected_Mcate.name}の商品一覧"
      .categoryShowMainInner
        .categoryShowMainInnerItems
          = render partial: "categoryShow", collection: @selected_Mcate_items, as: :item
