.breadCrumbShowBorder
.breadCrumbShow
  %ul.breadcrumb
  %li.list1{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://52.199.209.215", :itemprop => "url"}
      %span{:itemprop => "title"} メルカリ
  %p >
  %li.list2{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://52.199.209.215/toppages/#{@item.id}", :itemprop => "url"}
      %span{:itemprop => "title"}
        = "#{ @item.name}"

.wrapperShow
  .wrapperShowItem
    %h1.wrapperShowItemName
      = @item.name
    .wrapperShowItemDetail
      .wrapperShowItemDetailHidden
        .wrapperShowItemDetailLeft
          - @images.each do |photo|
            .wrapperShowItemDetailLeftThumbnail
              = image_tag(photo.item_images)
        .wrapperShowItemDetailLeftimages
          - @images.each do |photo|
            .wrapperShowItemDetailLeftimagesImage
              = image_tag(photo.item_images)
      .wrapperShowItemDetailRight
        .wrapperShowItemDetailRightTable
          %table{:border => "1"}
            %tr
              %th.tableLeft 出品者
              %th.tableRight
                = link_to "/mypages/users/#{@item.seller.id}",class: "tableLinks" do
                  = @item.seller.nickname
                %br
                = fa_icon "fa-smile-o ",class: "fa-smile-o"
                675
                = fa_icon "fa-meh-o ",class: "fa-meh-o"
                4
                = fa_icon "fa-frown-o ",class: "fa-frown-o"
                1
            %tr
              %td.tableLeft カテゴリー
              %td.tableRight
                = link_to "#{@item.small_category.middle_category.large_category.name}","/toppages/large_category_show/#{@item.small_category.middle_category.large_category.id}",class: "tableLinks"
                %br
                = link_to "> #{@item.small_category.middle_category.name}","/toppages/middle_category_show/#{@item.small_category.middle_category.id}",class: "tableLinks"
                %br
                = link_to "> #{@item.small_category.name}","/toppages/small_category_show/#{@item.small_category.id}",class: "tableLinks"
            %tr
              %td.tableLeft ブランド
              %td.tableRight
                = link_to "#{@item.brand}","#",class: "tableLinks"
            %tr
              %td.tableLeft 商品のサイズ
              %td.tableRight
                = @item.size
            %tr
              %td.tableLeft 商品の状態
              %td.tableRight
                = @item.status
            %tr
              %td.tableLeft 配送料の負担
              %td.tableRight
                = @item.shipping_fare
            %tr
              %td.tableLeft 配送の方法
              %td.tableRight
                = @item.shipping_method
            %tr
              %td.tableLeft 配送元地域
              %td.tableRight
                = @item.shipping_region
            %tr
              %td.tableLeft 発送日の目安
              %td.tableRight
                = "#{@item.shipping_shcedule}で発送"
    .wrapperShowItemPriceBox
      .wrapperShowItemPrice
        = "¥ #{@item.price}"
      .wrapperShowItemTax (税込)
      .wrapperShowItemFare 送料込み
    .wrapperShowItemPoint 売上金4,300円をお持ちです
    .wrapperShowItemBuy
      .wrapperShowItemBuyText
        = link_to "購入画面に進む", "/items/purchase/#{@item.id}"
    .wrapperShowItemDescription
      =@item.explaination
    .wrapperShowItemLinks
      .wrapperShowItemLinksLeft
        .wrapperShowItemLinksLikes
          .wrapperShowItemLinksLikesLeft
          .wrapperShowItemLinksLikesText
            = fa_icon "fa-heart-o", class: "fa-heart-o"
            いいね！
            38
        .wrapperShowItemLinksReport
          .wrapperShowItemLinksReportText
            = fa_icon "fa-flag-o", class: "fa-flag-o"
            不適切な商品の報告
      .wrapperShowItemLinksRight
        .wrapperShowItemLinksSecurity
          = fa_icon "fa-lock", class: "fa-lock"
          = link_to "あんしん・あんぜんへの取り組み" ,"#",class: "security"
  .wrapperShowNich
  .wrapperShowComments
    .wrapperShowCommentsShow
      .wrapperShowCommentsShowLeft
        .wrapperShowCommentsShowLeftIcon
        .wrapperShowCommentsShowLeftSeller
          出品者
      .wrapperShowCommentsShowRight
        .wrapperShowCommentsShowRightName
          = @item.seller.nickname
        .wrapperShowCommentsShowRightContent
          .wrapperShowCommentsShowRightContentTop 商品の到着を楽しみにしております。
          .wrapperShowCommentsShowRightContentBottom
            .wrapperShowCommentsShowRightContentBottomLeft
              = fa_icon "fa-clock-o", class: "fa-clock-o"
              5時間前
            .wrapperShowCommentsShowRightContentBottomRight
              = fa_icon "fa-flag-o", class: "fa-flag-o"
    .wrapperShowCommentNew
      .wrapperShowCommentNewAdvice
        相手のことを考えて丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = text_area :title, class: "wrapperShowCommentNewinput"
      .wrapperShowCommentNewSumit
        売り切れのためコメントできません
  .wrapperShowPage.clearfix
    .wrapperShowPageBack
      = fa_icon"fa-chevron-right",class: "fa-chevron-left"
      %a.title 米花町ホテルにて和葉と平次が！！
    .wrapperShowPageNext
      %a.title 隣のトトロは、舎人のとろろが好きすぎると吐露
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
  .wrapperShowSns
    .wrapperShowSnsCenter
      .wrapperShowSnsBox
        %img{src: "https://i.gyazo.com/39d79c797aba4de0187719f551fdb097.png"}
        %img{src: "https://i.gyazo.com/396c6d27029cbc59ca4f7ba817365a72.png"}
        %img{src: "https://i.gyazo.com/d137354c50cb607ce6153fb2c8fa5265.png"}
  .wrapperShowUsersItems
    .wrapperShowUsersItemsHead
      = link_to root_path, class: "wrapperShowUsersItemsHead" do
        = "#{@item.seller.nickname}さんのその他の出品"
    .wrapperShowUsersItemscontainer
      - @anotheritems.each do |item|
        .wrapperShowUsersItem
          = link_to toppage_path(item), class: "wrapperShowUsersItemLink" do
            .wrapperShowUsersItemImage
              = image_tag item.item_images.first.item_images
            .wrapperShowUsersItemBody
              .wrapperShowUsersItemBodyTitle
                = item.name
              .wrapperShowUsersItemBodyDetails
                .wrapperShowUsersItemBodyDetailsPrice
                  = item.price
                .wrapperShowUsersItemBodyDetailsLikes
                  .wrapperShowUsersItemLikesIcon.far.fa-heart
                  .wrapperShowUsersItemLikesCount 100
                .wrapperShowUsersItemBodyDetailsTax (税込)
