.wrapperShow
  .wrapperShowItem
    %h1.wrapperShowItemName champion チャンピオン パーカー
    .wrapperShowItemDetail
      .wrapperShowItemDetailLeft
        .wrapperShowItemDetailLeftThumbnail
        .wrapperShowItemDetailLeftimages
          .wrapperShowItemDetailLeftimagesImage
          .wrapperShowItemDetailLeftimagesImage
          .wrapperShowItemDetailLeftimagesImage
          .wrapperShowItemDetailLeftimagesImage
          .wrapperShowItemDetailLeftimagesImage
      .wrapperShowItemDetailRight
        .wrapperShowItemDetailRightTable
          %table{:border => "1"}
            %tr
              %th.tableLeft 出品者
              %th.tableRight
                = link_to "ぽくぽく坊や","#",class: "tableLinks"
                %br
                = fa_icon "fa-smile-o ",class: "fa-smile-o"
                675
                = fa_icon "fa-meh-o ",class: "fa-meh-o"
                4
                = fa_icon "fa-frown-o ",class: "fa-frown-o"
                1
            %tr
              %td.tableLeft カテゴリー
              %td.tableRight
                = link_to "メンズ","#",class: "tableLinks"
                %br
                = link_to ">トップス","#",class: "tableLinks"
                %br
                = link_to ">パーカー","#",class: "tableLinks"
            %tr
              %td.tableLeft ブランド
              %td.tableRight
                = link_to "チャンピオン","#",class: "tableLinks"
            %tr
              %td.tableLeft 商品のサイズ
              %td.tableRight S
            %tr
              %td.tableLeft 商品の状態
              %td.tableRight 未使用
            %tr
              %td.tableLeft 配送料の負担
              %td.tableRight 送料込み(出品者負担)
            %tr
              %td.tableLeft 配送の方法
              %td.tableRight らくらくメルカリ便
            %tr
              %td.tableLeft 配送元地域
              %td.tableRight
                = link_to "アメリカ","#",class: "tableLinks"
            %tr
              %td.tableLeft 発送日の目安
              %td.tableRight 2~3日で発送
    .wrapperShowItemPriceBox
      .wrapperShowItemPrice ¥12,000
      .wrapperShowItemTax (税込)
      .wrapperShowItemFare 送料込み
    .wrapperShowItemPoint 売上金4,300円をお持ちです
    .wrapperShowItemBuy
      .wrapperShowItemBuyText 購入画面に進む
    .wrapperShowItemDescription
      チャンピオンリバースウィーブ仕様のパーカーです。
      %br
      インディゴ染めです。
      %br
      5回ほど着用して、洗濯済みです。
      %br
      サイズはリバースウィーブで検索お願いします。
    .wrapperShowItemLinks
      .wrapperShowItemLinksLeft
        .wrapperShowItemLinksLikes
          .wrapperShowItemLinksLikesLeft
          .wrapperShowItemLinksLikesText
            = fa_icon "fa-heart-o", class: "fa-heart-o"
            いいね！
            38
        .wrapperShowItemLinksReport
          .wrapperShowItemLinksReportText
            = fa_icon "fa-flag-o", class: "fa-flag-o"
            不適切な商品の報告
      .wrapperShowItemLinksRight
        .wrapperShowItemLinksSecurity
          = fa_icon "fa-lock", class: "fa-lock"
          = link_to "あんしん・あんぜんへの取り組み" ,"#",class: "security"
  .wrapperShowNich
  .wrapperShowComments
    .wrapperShowCommentsShow
      .wrapperShowCommentsShowLeft
        .wrapperShowCommentsShowLeftIcon
      .wrapperShowCommentsShowRight
        .wrapperShowCommentsShowRightName ぽくぽく坊や
        .wrapperShowCommentsShowRightContent
          .wrapperShowCommentsShowRightContentTop 商品の到着を楽しみにしております。
          .wrapperShowCommentsShowRightContentBottom
            .wrapperShowCommentsShowRightContentBottomLeft
              = fa_icon "fa-clock-o", class: "fa-clock-o"
              5時間前
            .wrapperShowCommentsShowRightContentBottomRight
              = fa_icon "fa-flag-o", class: "fa-flag-o"
    .wrapperShowCommentNew
  .wrapperShowPage
  .wrapperShowSns
  .wrapperShowOthers
