.breadCrumbShowBorder
.breadCrumbShow
  %ul.breadcrumb
  %li.list1{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://52.199.209.215", :itemprop => "url"}
      %span{:itemprop => "title"} メルカリ
  %p >
  %li.list2{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://52.199.209.215/toppages/category_index", :itemprop => "url"}
      %span{:itemprop => "title"} カテゴリー一覧
  %p >
  %li.list3{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://52.199.209.215/toppages/large_category_show/#{@selected_Scate.middle_category.large_category.id}", :itemprop => "url"}
      %span{:itemprop => "title"}
        = @selected_Scate.middle_category.large_category.name
  %p >
  %li.list4{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://52.199.209.215/toppages/large_category_show/#{@selected_Scate.middle_category.id}", :itemprop => "url"}
      %span{:itemprop => "title"}
        = @selected_Scate.middle_category.name
  %p >
  %li.list5.last{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://52.199.209.215/toppages/small_category_show/#{@selected_Scate}", :itemprop => "url"}
      %span{:itemprop => "title"}
        = @selected_Scate.name

.categoryShowWrapper
  .categoryShow
    .categoryShowHeader
    .categoryShowMain
      .categoryShowMainTitle
        = "#{@selected_Scate.name}の商品一覧"
      .categoryShowMainInner
        .categoryShowMainInnerItems
          = render partial: "categoryShow", collection: @selected_Scate_items, as: :item
