.wrapperSellingItemInfo
  %h1.wrapperSellingItemName
    = @item.name
  .wrapperSellingItemInfolLeftRight
    .wrapperSellingItemInfolLeft
      .wrapperSellingItemInfolLeftHidden
        .wrapperSellingItemInfoLeftMainimage
          - @images.each do |image|
            = image_tag image.item_images
        .wrapperSellingItemInfoLeftSubimage
          - @images.each do |image|
            = image_tag image.item_images,class: "wrapperSellingItemInfoLeftSubimages"
    .wrapperSellingItemInfoRight
      .wrapperSellingItemInfoRightTable
        %table{:border => "1"}
          %tr
            %th.tableLeft 出品者
            %th.tableRight
              = link_to "#{@item.seller.nickname}","#",class: "tableLinks"
          %tr
            %td.tableLeft カテゴリー
            %td.tableRight
              = link_to "#{@item.small_category.middle_category.large_category.name}","/toppages/large_category_show/#{@item.small_category.middle_category.large_category.id}",class: "tableLinks"
              %br
              = link_to "> #{@item.small_category.middle_category.name}","/toppages/middle_category_show/#{@item.small_category.middle_category.id}",class: "tableLinks"
              %br
              = link_to "> #{@item.small_category.name}","/toppages/small_category_show/#{@item.small_category.id}",class: "tableLinks"
          %tr
            %td.tableLeft ブランド
            %td.tableRight
              = link_to "brand","#",class: "tableLinks"
          %tr
            %td.tableLeft 商品のサイズ
            %td.tableRight S
          %tr
            %td.tableLeft 商品の状態
            %td.tableRight
              = @item.status
          %tr
            %td.tableLeft 配送料の負担
            %td.tableRight
              = @item.shipping_fare
          %tr
            %td.tableLeft 配送の方法
            %td.tableRight
              = @item.shipping_method
          %tr
            %td.tableLeft 配送元地域
            %td.tableRight
              = link_to "アメリカ","#",class: "tableLinks"
          %tr
            %td.tableLeft 発送日の目安
            %td.tableRight 2~3日で発送
  .wrapperSellingItemInfoPriceBox
    .wrapperSellingItemInfoPrice
      ¥
      %span
        = @item.price
    .wrapperSellingItemInfoTax (税込)
    .wrapperSellingItemInfoFare 送料込み
  %pre.wrapperSellingItemInfoDescription
    = @item.explaination
