%nav.mypageNav
  %ul.mypageNavLists
    %li
      = link_to "マイページ","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "お知らせ","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "やることリスト","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "いいね！一覧","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "出品する","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "マイページ","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "出品した商品-出品中","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "出品した商品-取引中","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "出品した商品-売却済み","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "購入した商品-取引中","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "購入した商品-過去の取引","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "ニュース一覧","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "評価一覧","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "ガイド","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "お問い合わせ","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
  %h4.point 売り上げ・ポイント
  %ul.mypageNavLists
    %li
      = link_to "売り上げ・振込申請","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "ポイント","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
  %h4.setting 設定
  %ul.mypageNavLists
    %li
      = link_to "プロフィール","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "住所変更","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "支払い方法","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "メール/パスワード","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "本人情報","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "電話番号の確認","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
    %li
      = link_to "ログアウト","#", class: "mypageNavList"
      %i.fas.fa-chevron-right
