%nav.mypageNav
  %ul.mypageNavLists
    %li
      = link_to "マイページ", mypages_main_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "お知らせ", mypages_notification_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "やることリスト","#", class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "いいね！一覧","#", class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "出品する", new_item_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "出品した商品-出品中", mypages_exhibitionItemSelling_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "出品した商品-取引中", mypages_exhibitionItemTransaction_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "出品した商品-売却済み", mypages_exhibitionItemSold_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "購入した商品-取引中","#", class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "購入した商品-過去の取引","#", class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "ニュース一覧","#", class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "評価一覧", "#", class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "ガイド", help_center_index_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "お問い合わせ", mypages_support_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
  %h4.point 売り上げ・ポイント
  %ul.mypageNavLists
    %li
      = link_to "売り上げ・振込申請", mypages_sales_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "ポイント", mypages_point_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
  %h4.setting 設定
  %ul.mypageNavLists
    %li
      = link_to "プロフィール", mypages_profile_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "住所変更", mypages_deliver_address_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "支払い方法", mypages_card_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "メール/パスワード", mypages_email_password_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "本人情報", mypages_identification_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "電話番号の確認","#", class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
    %li
      = link_to "ログアウト",mypages_logout_path, class: "mypageNavList"
      = fa_icon"fa-chevron-right",class: "fa-chevron-right"
