.exhibitionItemSoldWrapper
  .notificationNav
    = render 'mypages/mainNav'
  .exhibitionItemMain
    .exhibitionItemTitle
      %h1 出品した商品

      %ul.exhibitionItemHeader
        %li.exhibitionItemHeaderList.exhibitionItemHeaderLeftB
          = link_to mypages_exhibitionItemSelling_path, class: "exhibitionItemLeftLink" do
            出品中
        %li.exhibitionItemHeaderList.exhibitionItemHeaderMidB
          = link_to mypages_exhibitionItemTransaction_path, class: "exhibitionItemMidLink" do
            取引中
        %li.exhibitionItemHeaderList.exhibitionItemHeaderRightB
          = link_to mypages_exhibitionItemSold_path, class: "exhibitionItemRightLink" do
            返却済み
      %ul.exhibitionItemBody
        %li.exhibitionItemBodyList 出品中の商品はありません

    .exhibitionItemPage
      %ul.exhibitionItemPageFooter
        %li.exhibitionItemPageFooterList.exhibitionItemPageFooterLeft
          =link_to "#", class: "exhibitionItemCheckBLeftBtn" do
            = fa_icon 'fa-chevron-left', class: 'fa-chevron-left'
        %li.exhibitionItemPageFooterList.exhibitionItemPageFooterRight
          =link_to "#", class: "exhibitionItemCheckBRightBtn" do
            = fa_icon 'fa-chevron-right', class: 'fa-chevron-right'
