.exhibitionItemSellingWrapper
  .notificationNav
    = render 'mypages/mainNav'
  .exhibitionItemMain
    .exhibitionItemTitle
      %h1 出品した商品

      %ul.exhibitionItemHeader
        %li.exhibitionItemHeaderList.exhibitionItemHeaderLeft
          = link_to mypages_exhibitionItemSelling_path, class: "exhibitionItemLeftLink" do
            出品中
        %li.exhibitionItemHeaderList.exhibitionItemHeaderMid
          = link_to mypages_exhibitionItemTransaction_path, class: "exhibitionItemMidLink" do
            取引中
        %li.exhibitionItemHeaderList.exhibitionItemHeaderRight
          = link_to mypages_exhibitionItemSold_path, class: "exhibitionItemRightLink" do
            返却済み
      %ul.exhibitionItemBody
        - if @items.exists?

          - @items.each do |item|
            =link_to root_path do
              %li.exhibitionItemBodyContainerItem
                .exhibitionItemBodyContainerItemImage
                  = image_tag item.item_images.first.image
                .exhibitionItemBodyContainerItemName
                  = item.name
                  .exhibitionItemBodyContainerItemNameBottom
                    =fa_icon 'fa-heart', class: 'fa-heart-o'
                    4
                    %span
                      =fa_icon 'fa-comment', class: 'fa-comment-o'
                      2
                      %span.exhibitionItemBodyContainerItemNameBottomAlert
                        出品中
                    %span.exhibitionItemBodyContainerItemNameBottomTail
                      ＞


        - else
          %li.exhibitionItemBodyNothing
            出品中の商品はありません

    .exhibitionItemPage
      %ul.exhibitionItemPageFooter
        %li.exhibitionItemPageFooterList.exhibitionItemPageFooterLeft
          =link_to "#", class: "exhibitionItemCheckBLeftBtn" do
            = fa_icon 'fa-chevron-left', class: 'fa-chevron-left'
        %li.exhibitionItemPageFooterList.exhibitionItemPageFooterRight
          =link_to "#", class: "exhibitionItemCheckBRightBtn" do
            = fa_icon 'fa-chevron-right', class: 'fa-chevron-right'
