.breadCrumbShowBorder
.breadCrumbShow
  %ul.breadcrumb
  %li.list1{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://52.199.209.215", :itemprop => "url"}
      %span{:itemprop => "title"} メルカリ
  %p >
  %li.list2{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://52.199.209.215/mypages/main", :itemprop => "url"}
      %span{:itemprop => "title"} マイページ
  %p >
  %li.list3.last{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://52.199.209.215/mypages/exhibitionItemSelling", :itemprop => "url"}
      %span{:itemprop => "title"} 出品した商品 - 中古品

.exhibitionItemSellingWhole
  .exhibitionItemSellingWrapper.clearfix
    .exhibitionItemMain
      .exhibitionItemTitle
        %h1 出品した商品
        %ul.exhibitionItemHeader
          %li.exhibitionItemHeaderList.exhibitionItemHeaderLeft
            = link_to mypages_exhibitionItemSelling_path, class: "exhibitionItemLeftLink" do
              出品中
          %li.exhibitionItemHeaderList.exhibitionItemHeaderMid
            = link_to mypages_exhibitionItemTransaction_path, class: "exhibitionItemMidLink" do
              取引中
          %li.exhibitionItemHeaderList.exhibitionItemHeaderRight
            = link_to mypages_exhibitionItemSold_path, class: "exhibitionItemRightLink" do
              売却済み
        %ul.exhibitionItemBody
          =render "mypages/sellingItem", items: @items
      .exhibitionItemPage
        %ul.exhibitionItemPageFooter
          %li.exhibitionItemPageFooterList.exhibitionItemPageFooterLeft
            =link_to "#", class: "exhibitionItemCheckBLeftBtn" do
              = fa_icon 'fa-chevron-left', class: 'fa-chevron-left'
          %li.exhibitionItemPageFooterList.exhibitionItemPageFooterRight
            =link_to "#", class: "exhibitionItemCheckBRightBtn" do
              = fa_icon 'fa-chevron-right', class: 'fa-chevron-right'
    .lSide
      = render 'mypages/mainNav'
