.creditCardInfoWrapper
  .creditCardInfoMainWrapper
    .creditCardInfoHeader
      %h3.creditCardInfoHeaderTitle
        クレジートカード情報入力
    .creditCardInfoFormSection
      .creditCardInfoFormSectionMiddle
        .creditCardInfoFormGroupsOne
          %h6.creditCardInfoFormGroupsOneCardText
            カード番号
            %span.creditCardInfoFormGroupsOneRequire
              必須
          %input.creditCardInfoFormGroupsOneCardNumber{placeholder: "  半額数字のみ"}
          %br
          %ul.creditCardInfoFormGroupsOneCardList
            %li.creditCardInfoFormGroupsOneCardListVisa
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1710651067", size: '49x20')
            %li.creditCardInfoFormGroupsOneCardListMaster
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?1710651067", size: '34x20')
            %li.creditCardInfoFormGroupsOneCardListSaison
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?1710651067", size: '30x20')
            %li.creditCardInfoFormGroupsOneCardListJcb
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?1710651067", size: '32x20')
            %li.creditCardInfoFormGroupsOneCardListAm
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?1710651067", size: '21x20')
            %li.creditCardInfoFormGroupsOneCardListDc
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?1710651067", size: '32x20')
            %li.creditCardInfoFormGroupsOneCardListDis
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?1710651067", size: '32x20')
        .creditCardInfoFormGroupTwo
          %h6.creditCardInfoFormGroupTwoExpire
            有効期限
            %span.creditCardInfoFormGroupTwoRequire
              必須
          %select.creditCardInfoFormGroupTwoPayCardExpireM
            %option{value: "01"}01
            %option{value: "02"}02
            %option{value: "03"}03
            %option{value: "04"}04
            %option{value: "05"}05
            %option{value: "06"}06
            %option{value: "07"}07
            %option{value: "08"}08
            %option{value: "09"}09
            %option{value: "10"}10
            %option{value: "11"}11
            %option{value: "12"}12
          %span.creditCardInfoFormGroupTwoMonth
            月
          %br
          %select.creditCardInfoFormGroupTwoExpireY
            %option{value: "18"}18
            %option{value: "19"}19
            %option{value: "20"}20
            %option{value: "21"}21
            %option{value: "22"}22
            %option{value: "23"}23
            %option{value: "24"}24
            %option{value: "25"}25
            %option{value: "26"}26
            %option{value: "27"}27
            %option{value: "28"}28
            %option{value: "29"}29
          %span.creditCardInfoFormGroupTwoYear
            年
        .creditCardInfoFormGroupThree
          %h6.creditCardInfoFormGroupThreeScretCode
            セキュリティコード
            %span.creditCardInfoFormGroupThreeRequire
              必須
          %input.creditCardInfoFormGroupsThreeCardNumber{placeholder: "  カードの背面4桁もしくは3桁の番号"}
          %br
            %creditCardInfoFormGroupThreeScretCodeText
              = fa_icon 'fa-question-circle', class: 'fa-question-circle'
              %span.creditCardInfoFormGroupThreeScretCodeTextCommet
                カード裏面の番号とは？
        .creditCardInfoFormGroupFour
          %button.creditCardInfoFormGroupFourSectionAddBtn{type: "button"} 追加する





