.pointWhole
  .pointWrapper.clearfix
    .pointMainWrapper
      .pointHeader
        %h3.pointHeaderTitle
          ポイント
      .pointLinks
        = link_to "#", class: "pointLinksLink" do
          所持ポイント
          %span.yourCurrentPoint 0p
        = link_to "#", class: "pointLinksLink" do
          ポイント履歴
          %span >
        = link_to "#", class: "pointLinksLink" do
          ポイントの有効期限
          %span >
        = link_to "#", class: "pointLinksLink" do
          ポイントとは？
          %span >
    .lSide
      = render 'mypages/mainNav'
