.supportWrapper
  .mainWrapper
    .supportHeader
      %h3.supportHeaderTitle
        お問い合わせ項目を選ぶ
    .supportLinks
      = link_to "#", class: "supportLink" do
        会員登録・ログインについて
        %span >
      = link_to "#", class: "supportLink" do
        購入・支払いについて
        %span >
      = link_to "#", class: "supportLink" do
        発送・受取・評価について
        %span >
      = link_to "#", class: "supportLink" do
        売上の振込申請について
        %span >
      = link_to "#", class: "supportLink" do
        トラブルがあった
        %span >
      = link_to "#", class: "supportLink" do
        機能要望
        %span >
      = link_to "#", class: "supportLink" do
        不具合の報告
        %span >
      = link_to "#", class: "supportLink" do
        退会したい
        %span >
      = link_to "#", class: "supportLink" do
        その他
        %span >
