.itemPurchaseWrapper
  .itemPurchaseBodyWrapper
    .itemPurchaseHeader
      %h3.itemPurchaseHeaderTitle 購入を確定しますか？
    .itemPurchaseMain
      .itemPurchaseMainItem
        = image_tag @images.item_images
        .itemPurchaseMainItemName
          = @item.name
        .itemPurchaseMainItemPrice
          = @item.price
          %span.itemPurchaseMainItemPriceTaxin 送料込み
      .itemPurchaseMainPurchase
        .itemPurchaseMainPurchasePoint
          ポイントはありません
        .itemPurchaseMainPurchaseTotal.clearfix
          .itemPurchaseMainPurchaseTotalLeft
            支払い金額

          .itemPurchaseMainPurchaseTotalRight
            = @item.price
        .itemPurchaseMainPurchaseAlert
          配送先と支払い方法の入力を完了してください。
        .itemPurchaseMainPurchaseBtn
          = form_tag settlement_create_path id: @item.id, method: :post do
            :plain
              <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key=ENV['PAYJP_APP_TEST'] data-text="購入する" data-payjp="" ></script>
        //TODO  後でCDNを外した実装に取り組むこと
    .itemPurchaseFooter
      .itemPurchaseFooterWrapper
        .itemPurchaseFooterWrapperTitle
          配送先
        .itemPurchaseFooterWrapperText
          %p 〒123-4567
          %p 東京都渋谷区道玄坂２丁目２３−１２ フォンティスビル7F
          %p 土居麗菜
        .itemPurchaseFooterWrapperLink
          = link_to "#", class: "itemPurchaseFooterWrapperLink" do
            変更する
            %span >
      .itemPurchaseFooterWrapper
        .itemPurchaseFooterWrapperTitle
          支払い方法
        .itemPurchaseFooterWrapperText
          ／
        .itemPurchaseFooterWrapperLink
          = link_to "#", class: "itemPurchaseFooterWrapperLink" do
            変更する
            %span >
