<nav class="mypageNav">
  <ul class="mypageNavLists">
    <li>
      <%= link_to "マイページ","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "お知らせ","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "やることリスト","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "いいね！一覧","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "出品する","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "マイページ","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "出品した商品-出品中","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "出品した商品-取引中","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "出品した商品-売却済み","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "購入した商品-取引中","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "購入した商品-過去の取引","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "ニュース一覧","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "評価一覧","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "ガイド","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "お問い合わせ","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
  </ul>
  <h4 class="point">売り上げ・ポイント</h4>
  <ul class="mypageNavLists">
    <li>
      <%= link_to "売り上げ・振込申請","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "ポイント","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
  </ul>
  <h4 class="setting">設定</h4>
  <ul class="mypageNavLists">
    <li>
      <%= link_to "プロフィール","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "住所変更","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "支払い方法","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "メール/パスワード","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "本人情報","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "電話番号の確認","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
    <li>
      <%= link_to "ログアウト","#", class: "mypageNavList" %>
      <i class="fas fa-chevron-right"></i>
    </li>
  </ul>
</nav>
