.wrapper
  .bodyIcatchImage
    .bodyIcatchImageBox
      .bodyIcatchImageBoxLeft
        %h2.bodyIcatchImageBoxLeftTitle スマホでかんたん
        %h2.bodyIcatchImageBoxLeftTitle フリマアプリ
        %p.bodyIcatchImageBoxLeftText メルカリはスマホカメラからすぐに出品できる
        %p.bodyIcatchImageBoxLeftText 購入時も安心な独自システムのアプリです
        .bodyIcatchImageBoxLeftIcons
          .bodyIcatchImageBoxLeftIconApp
            = embedded_svg("app-store.svg", class: "bodyIcatchImageBoxLeftIconApp")
          .bodyIcatchImageBoxLeftIconGoogle
            = embedded_svg("google-play.svg", class: "bodyIcatchImageBoxLeftIconGoogle")
      = image_tag("icatch.png",class: "bodyIcatchImageBoxRightImage")

  .bodyPickup
    %h2.bodyPickupTitle
      ピックアップカテゴリー
    =link_to "レディース新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainer
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "メンズ新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainer
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "ベビー・キッズ新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainer
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "コスメ・香水・美容 新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainer
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    %h2.bodyPickupTitle
      ピックアップブランド
    =link_to "シャネル新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainer
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "ルイヴィトン新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainer
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "シュプリーム新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainer
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"


    =link_to "ナイキ新着アイテム", "#",class: "bodyPickupLinks"
    .bodyPickupContainers
      .bodyPickupContainer
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
        .bodyPickupContainerBox
          .bodyPickupContainerBoxTop
          .bodyPickupContainerBoxBottom
            %h3.bodyPickupContainerBoxBottomTop ナイキチャカモック キッズ
            .bodyPickupContainerBoxBottomBottom
              .bodyPickupContainerBoxBottomBottomLike
                .bodyPickupContainerBoxBottomBottomLikeNum
                  16
                .bodyPickupContainerBoxBottomBottomLikeIcon
                  = fa_icon "fa-heart-o",class: "fa-heart-o"
              .bodyPickupContainerBoxBottomBottomPrice
                ¥40000
              .bodyPickupContainerBoxBottomBottomTax (税込)
      .bodyPickupContainerSeeAll
        =link_to "すべての商品を見る", "#",class: "SeeAll"
