.breadCrumbShowBorder
.breadCrumbShow
  %ul.breadcrumb
  %li.list1{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://localhost:3000", :itemprop => "url"}
      %span{:itemprop => "title"} メルカリ
  %p >
  %li.list2{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://localhost:3000/brands/hobby", :itemprop => "url"}
      %span{:itemprop => "title"}
        = "ブランド一覧"

.brands
  .brandWrapper
    %h2.brandTitle ブランド一覧
    .brandWrapperContainer
      = link_to brands_wemens_path, class: "brands_links" do
        .brandWrapperContainerBoxWemens#box レディース
      = link_to brands_kids_path, class: "brands_links" do
        .brandWrapperContainerBoxKids#box ベビー・キッズ
      = link_to brands_hobby_path, class: "brands_links" do
        .brandWrapperContainerBoxHobby#box-main テレビゲーム
      .brandWrapperContainerBoxWemens#box インテリア・住まい・雑貨
      .brandWrapperContainerBoxKids#box スポーツ・レジャー
      .brandWrapperContainerBoxHobby#box スマートフォン・携帯電話
      .brandWrapperContainerBoxWemens#box 国内自動車車体
      .brandWrapperContainerBoxKids#box キッチン・食器
      .brandWrapperContainerBoxHobby#box 時計
    .brandWrapperScroll
      - @initial.each_with_index do|initial,i|
        %div{class: "brandWrapperScrollCell", id: "cell#{i}"}
          = initial + " | "
    %h3.brandWrapperJanre テレビゲーム
    %h4.brandWrapperInitials
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial0
        ウ
      .brandWrapperInitialsInitialbrands
        -@brands_u.each do |u|
          .brandWrapperInitialsInitialbrandsbrand
            = u.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial1
        エ
      .brandWrapperInitialsInitialbrands
        -@brands_e.each do |e|
          .brandWrapperInitialsInitialbrandsbrand
            = e.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial2
        コ
      .brandWrapperInitialsInitialbrands
        -@brands_ko.each do |ko|
          .brandWrapperInitialsInitialbrandsbrand
            = ko.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial3
        サ
      .brandWrapperInitialsInitialbrands
        -@brands_sa.each do |sa|
          .brandWrapperInitialsInitialbrandsbrand
            = sa.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial4
        ス
      .brandWrapperInitialsInitialbrands
        -@brands_su.each do |su|
          .brandWrapperInitialsInitialbrandsbrand
            = su.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial5
        セ
      .brandWrapperInitialsInitialbrands
        -@brands_se.each do |se|
          .brandWrapperInitialsInitialbrandsbrand
            = se.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial6
        ニ
      .brandWrapperInitialsInitialbrands
        -@brands_ni.each do |ni|
          .brandWrapperInitialsInitialbrandsbrand
            = ni.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial7
        ネ
      .brandWrapperInitialsInitialbrands
        -@brands_ne.each do |ne|
          .brandWrapperInitialsInitialbrandsbrand
            = ne.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial8
        フ
      .brandWrapperInitialsInitialbrands
        -@brands_hu.each do |hu|
          .brandWrapperInitialsInitialbrandsbrand
            = hu.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial9
        ヘ
      .brandWrapperInitialsInitialbrands
        -@brands_he.each do |he|
          .brandWrapperInitialsInitialbrandsbrand
            = he.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial10
        マ
      .brandWrapperInitialsInitialbrands
        -@brands_ma.each do |ma|
          .brandWrapperInitialsInitialbrandsbrand
            = ma.name
      .brandWrapperInitialsInitial.brandWrapperInitialsInitial11
        レ
      .brandWrapperInitialsInitialbrands
        -@brands_re.each do |re|
          .brandWrapperInitialsInitialbrandsbrand
            = re.name
