.footerImage
  .footerImageBox
    .footerImageBoxLeft
      %h2.footerImageBoxLeftTitle スマホでかんたんフリマアプリ
      %p.footerImageBoxLeftText 今すぐ無料ダウンロード！
      .footerImageBoxLeftIcon
        = image_tag("mercari_icon.png", class: "footerImageBoxLeftIconLeft")
        =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" do
          = image_tag("app-store.svg", class: "footerImageBoxLeftIconMiddle")
        =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
          = image_tag("google-play.svg", class: "footerImageBoxLeftIconRight")
    .footerImageBoxRight
      = image_tag("footer_content.png",class: "footerImageBoxRightImage")
.footer
  .footerBox
    .footerBoxFirst
      %h2.footerBoxFirstTitle メルカリについて
      .footerBoxFirstContent
      = link_to "会社概要（運営会社）"
      = link_to "プライバシーポリシー"
      = link_to "メルカリ利用規約"
      = link_to "メルカリ利用規約・有償ポイントに関する特約"
      = link_to "あんしんスマホサポート制度に関する利用特約"
      = link_to "コンプライアンスポリシー"
      = link_to "個人データの安全管理に係る基本方針"
      = link_to "特定商取引に関する表記"
      = link_to "資金決済法に基づく表示"
      = link_to "法令順守と犯罪抑止のために"
      = link_to "採用情報"
    .footerBoxSecond
      %h2.footerBoxSecondTitle メルカリを見る
      .footerBoxSecondContent
      = link_to "カテゴリー一覧"
      = link_to "ブランド一覧"
      = link_to "出品地域一覧"
      = link_to "公式ブログ"
      = link_to "公式Twitter"
      = link_to "公式Facebook"

    .footerBoxThird
      %h2.footerBoxThirdTitle ヘルプ＆ガイド
      .footerBoxThirdContent
      = link_to "メルカリガイド"
      = link_to "メルカリロゴ利用ガイドライン"
      = link_to "お知らせ"
      = link_to "らくらくメルカリ便とは"
      = link_to "ゆうゆうメルカリ便とは"
      = link_to "大型らくらくメルカリ便とは"
      = link_to "車体取引ガイド"
      = link_to "返品・返金ポリシー"
      = link_to "メルカリあんしん・あんぜん宣言！"
      = link_to "偽ブランド品撲滅への取り組み"
      = link_to "メルカリボックス"

    .footerBoxForth
      %h2.footerBoxForthTitle 国
      .footerBoxForthContentUs
        %i.flag-icon.flag-icon-us.flag-icon-squared
        = link_to "United States",class: "link"
      .footerBoxForthContentGb
        %i.flag-icon.flag-icon-gb.flag-icon-squared
        = link_to "United Kingdom",class: "link"
      .footerBoxForthContentJp
        %i.flag-icon.flag-icon-jp.flag-icon-squared
        = link_to "日本",class: "link"

  .footerLastIcons
    = image_tag("logo-white.svg", class: "footerLastIcon")
    .footerLastIconsCopyRight © 2018 mercari
