.header
  .headerTop
    .headerTopLeft
      =link_to root_path do
        = image_tag("logo.svg", class: "headerLogo")
    .headerTopRight
      = form_tag('/items/search', method: :get, id: "newKeyword") do
        %input.searchBox{name: "keyword", placeholder: "キーワードから探す", type: "text", value: ""}/
        %button.searchBoxBtn{type: "submit"}
          = fa_icon 'fa-search', class: 'fa-search'

  .headerBottom
    .headerBottomLeft
      = link_to toppages_category_index_path ,class: "headerBottomLeftCategory" do
        カテゴリーから探す
      .headerBottomLeftBrand ブランドから探す
    -if user_signed_in?
      .headerBottomRight
        .headerBottomRightAvatar
        .headerBottomRightMypage
          = link_to mypages_main_path, class: "headerBottomRightMypage" do
            マイページ
        .bottomHeaderRightInfo
          = fa_icon "bell-o",class: "fa-bell-o",id: "Info"
          お知らせ
        .headerBottomRightTodo
          = fa_icon "fa-check",class: "fa-check",id: "Info"
          やることリスト
    -else
      .headerBottomRight2
        = link_to new_user_session_path, class: "headerBottomRight2SignIn" do
          ログイン
        = link_to mypages_sign_up_path, class: "headerBottomRight2SignUp" do
          新規会員登録
  / カテゴリープルダウン
  .categoryPullDown
    .categoryPullDown-LContainer
      -@large_categories.each do |category|
        = link_to "#", class: "categoryPullDown-LContainerLink" do
          .categoryPullDown-LContainerItem{data: {id: category.id}}
            =category.name
    .categoryPullDown-MContainer
    .categoryPullDown-SContainer
