= link_to "/toppages/#{item.id}" ,class: "indexItems" do
  .bodyPickupContainersContainerBox
    .bodyPickupContainersContainerBoxTop
      = image_tag item.item_images.first.item_images, size: '213x213'
    .bodyPickupContainersContainerBoxBottom
      %h3.bodyPickupContainersContainerBoxBottomTop
        = item.name
      .bodyPickupContainersContainerBoxBottomBottom
        .bodyPickupContainersContainerBoxBottomBottomLike
          .bodyPickupContainersContainerBoxBottomBottomLikeNum
            16
          .bodyPickupContainersContainerBoxBottomBottomLikeIcon
            = fa_icon "fa-heart-o",class: "fa-heart-o"
        .bodyPickupContainersContainerBoxBottomBottomPrice
          = "¥ #{item.price.to_s(:delimited)}"
        .bodyPickupContainersContainerBoxBottomBottomTax (税込)
